@import "scss/libs/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // -webkit-animation: fade-in 1s linear;
  // animation: fade-in 1s linear;
}

.colored-section {
  background: #000000;
  position: relative;
}
img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000;
  font: 10px sans-serif;
}
a {
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline: none;
  &:hover {
    text-decoration: none;
  }
}
p {
  margin: 0;
}
@import "scss/blocks/header";
@import "scss/blocks/buttons";
@import "scss/blocks/properties";
@import "scss/blocks/titles";
@import "scss/blocks/saasTemp";
@import "scss/blocks/library";
@import "scss/blocks/technologies";
@import "scss/blocks/charts";
@import "scss/blocks/plan";
@import "scss/blocks/craftwork";
@import "scss/blocks/footer";

@import "scss/blocks/components-body";

@import "scss/blocks/media";
