@media (max-width: 1899px) {
  .saasTemp__image {
    left: 53%;
  }
  // .charts .image-2 {
  //   left: 775px;
  // }
  // .charts .image-3 {
  //   left: 1550px;
  // }
  // .charts .image-4 {
  //   left: 3100px;
  // }
}
@media (max-width: 1550px) {
  .header__bg {
    width: 80%;
    top: 128%;
    img:nth-of-type(2) {
      width: 65%;
    }
    img:nth-of-type(3) {
      width: 65%;
    }
  }
  .properties {
    padding-top: 488px;
  }
  .plans__item_title {
    font-size: 28px;
  }
  .plans__item_subtitle {
    font-size: 16px;
  }

  .plans__item_plan {
    font-size: 45px;
  }
  .plans__item_three .plans__item_plan {
    font-size: 45px;
  }
  .plans__item ul li {
    font-size: 17px;
  }
}
// @media (max-width: 1246px) {
//   .plans__item_title span {
//     display: block;
//   }
// }
@media (min-width: 1200px) {
  .my-container {
    max-width: 1390px;
  }
  .craftwork .container {
    max-width: 1600px;
  }
}
@media (max-width: 1219px) {
  .components .widgets__image {
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 1199px) {
  .header__frameworks img {
    width: 52%;
  }
  .header {
    padding-bottom: 322px;
  }
  .header__bg {
    top: 116%;
  }
  .properties {
    padding-top: 300px;
  }
  .saasTemp {
    padding-bottom: 0;
    &__title {
      text-align: center;
    }
    p {
      text-align: center;
    }
    &__items {
      justify-content: space-around;
    }
    .empty {
      display: none;
    }
    &__image {
      position: relative;
      bottom: -5px;
      left: 50%;

      transform: translateX(-50%);
      margin-top: 100px;
      img {
        border-radius: 7px;
      }
    }
  }
  .technologies__item_image {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
  }
  .technologies__item-two .technologies__item_image {
    position: relative !important;
    top: 27.5% !important;
    left: inherit !important;
    transform: matrix(0.95, 0.26, -0.31, 0.96, 0, 0) translateY(-50%);
  }
  .btn__lightBlue {
    max-width: 278px;
    margin: 0 auto;
  }
  .plans .btn__lightBlue {
    max-width: 100%;
    margin: 0 auto;
  }
  .btn__green {
    max-width: 100%;
    margin: 0 auto;
  }
  .btn__white {
    max-width: 100%;
    margin: 0 auto;
  }
  .library {
    padding-bottom: 0;
  }
  .library__left {
    position: absolute;
    right: 50%;
    bottom: 30%;
  }
  .library__right {
    position: relative;
    left: 55%;
    margin-left: 0;
    margin-top: 305px;
  }
  .plans__title {
    text-align: center;
  }
  .plans p {
    text-align: center;
  }
  .plans__item_title span {
    display: none;
  }
  .product-column {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
  .components .widgets__image-two {
    max-width: 869px;
    margin-right: 20.5px !important;
  }
  .components .widgets__image-three {
    max-width: 415px;
  }
  .components .widgets__image-four {
    margin-right: 20.5px !important;
  }
  .components .comp-image,
  .components .headers-image {
    max-width: 869px;
  }
  .screens__image {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .products-row {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }
  .products-row .product-column,
  .products-row .product-shop-column {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}
@media (max-width: 991px) {
  .components .widgets__image-two {
    max-width: 565px;
  }
  .components .widgets__image-three {
    max-width: 262px;
  }
  .header__title {
    font-size: 70px;
    line-height: 80px;
    max-width: 100%;
  }
  .header {
    padding-bottom: 252px;
  }
  .header__frameworks img {
    width: 60%;
  }
  .header__bg {
    top: 115%;
  }
  h2 {
    font-size: 64px;
    line-height: 74px;
  }
  .properties {
    padding-top: 240px;
  }
  .technologies__item-two .technologies__item_image {
    position: relative;
    top: 30.2% !important;
    transform: matrix(0.95, 0.26, -0.31, 0.96, 0, 0) translateY(-50%) !important;
  }
  .library__right {
    width: 65%;
    margin-top: 220px;
  }
  .library__left {
    bottom: 39%;
    width: 65%;
  }
  .technologies__item_title {
    font-size: 42px;
    line-height: 57px;
  }
  .craftwork__title {
    font-size: 66px !important;
  }
  .footer-middle .widget_custom_html {
    margin-bottom: 40px;
  }
  .widgets__image-four {
    margin-left: 20.5px !important;
    margin-right: 20.5px !important;
  }
  .components__title {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .container-small {
    max-width: 540px;
    width: 100%;
  }
  .navbar-brand {
    font-size: 24px !important;
  }
  .header__title {
    font-size: 50px;
    line-height: 60px;
  }
  .header {
    padding-bottom: 222px;
  }
  .header__frameworks img {
    width: 70%;
  }
  .header__bg {
    top: 119%;
  }
  h2 {
    font-size: 44px;
    line-height: 54px;
  }
  .properties {
    padding-top: 190px;
  }
  .technologies__item_image {
    top: 40%;
  }
  .technologies__item-two .technologies__item_image {
    position: relative;
    top: 26% !important;
    transform: matrix(0.95, 0.26, -0.31, 0.96, 0, 0) translateY(-50%) !important;
  }
  .library p span {
    display: inline;
  }
  .library__left {
    top: 55%;
  }
  .library__right {
    margin-top: 180px;
  }
  .technologies__item_image img {
    width: 60%;
  }
  .technologies__item-two .technologies__item_image {
    width: 100px;
    height: 100px;
    border-radius: 26px;
    img {
      width: 50%;
    }
  }
  .technologies__item-two {
    background-position: -120% 100%;
  }
  .technologies__item_title {
    font-size: 32px;
    line-height: 44px;
  }
  .technologies__item_image {
    max-width: 525px;
    width: 100%;
  }
  .craftwork .container {
    max-width: 540px;
    width: 100%;
  }
  .craftwork__title {
    font-size: 44px !important;
  }
  .craftwork__descr {
    font-size: 20px;
  }
  .product-block-middle {
    flex-direction: column;
  }
  .product-block-middle-right {
    border-left: none;
    border-top: 1px solid #fff;
    padding: 21px 23px 18px;
  }
  .footer-middle .widget_nav_menu {
    margin-bottom: 30px;
  }
  .widgets {
    margin-top: 40px !important;
  }
  .components__title {
    font-size: 28px;
  }
  .components .widgets__image {
    max-width: 225px;
    // margin-right: 5px !important;
    // margin-left: 5px !important;
    // margin-bottom: 10px;
  }
  .components .widgets__image-two {
    max-width: 490px;
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
}
@media (max-width: 575px) {
  .header__bg {
    max-width: 80%;
  }
  .header__title {
    font-size: 42px;
    line-height: 52px;
  }
  .header__buttons {
    flex-direction: column;
    .col-xs-12 {
      padding: 0;
    }
    .btn__blue {
      margin: 0;
      width: 100%;
    }
    .btn__grey {
      margin: 0;
      margin-top: 24px;
      width: 100%;
    }
  }
  .btn__green {
    max-width: 100%;
    margin: 0 auto;
  }
  .btn__white {
    max-width: 100%;
    margin: 0 auto;
  }
  h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .saasTemp__title span {
    display: inline;
  }
  .btn__lightBlue {
    max-width: 100%;
  }
  .btn__blue {
    max-width: 100%;
  }
  .library__right {
    margin-top: 160px;
    max-width: 50%;
  }
  .library__left {
    max-width: 50%;
    top: 59%;
  }
  .charts {
    padding-bottom: 115px;
    &__images {
      display: none;
    }
  }
  .charts .btn__grey {
    max-width: 100%;
  }
  .plans__item_plan {
    font-size: 35px;
  }
  .plans__item_inside .plans__item_plan {
    font-size: 35px;
  }
  .plans__item_three .plans__item_plan {
    font-size: 35px;
    span {
      font-size: 22px;
    }
  }
  .product-block-top .buttons_white {
    display: none;
  }
  .text-right {
    padding-left: 0;
  }
  .footer-middle .widget_nav_menu ul li.pro-link a:before {
    display: none;
  }
}
@media (max-width: 538px) {
  .library {
    padding-bottom: 100px;
  }
  .library__left {
    display: none;
  }
  .library__right {
    display: none;
  }
  .craftwork__title {
    font-size: 36px !important;
  }
}
@media (max-width: 450px) {
  .technologies__item-two {
    position: relative;
  }
  .technologies__item-two .technologies__item_image {
    position: absolute;
    top: 11% !important;
    left: 20% !important;
    transform: matrix(0.95, 0.26, -0.31, 0.96, 0, 0) translateX(-50%) !important;
  }
}
@media (max-width: 400px) {
  .header__frameworks img {
    width: 80%;
  }
  .properties {
    padding-top: 150px;
  }
  .technologies__item-two {
    background-position: -25% 100%;
  }
  .technologies__item_image {
    top: 50%;
  }
  .technologies__item-two .technologies__item_image {
    position: absolute;
    top: 4% !important;
  }
  // .plans__item_plan span {
  //   display: block;
  // }
  .product-block-top .first-row {
    flex-direction: column;
  }
  .text-right {
    margin-top: 10px;
    margin-left: 15px;
  }
  .text-right .row {
    justify-content: flex-start !important;
  }
  .craftwork__block_text {
    margin: 0 !important;
  }
}
@media (max-width: 384px) {
  .plans__item_three ul li::before {
    top: 22px;
  }
}
