.plans {
  padding-top: 112px;
  padding-bottom: 132px;
  background: #5c52d8;
  &__title {
    color: #fff;
  }
  p {
    margin-top: 32px;
    color: #fff;
  }
  .row {
    margin-top: 44px;
  }
  &__item {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 8px;
    margin-top: 40px;
    padding: 36px 36px 40px;
    &_title {
      font-size: 32px;
      font-weight: 600;
      line-height: 39px;
      letter-spacing: -0.03em;
      text-align: center;
      color: #fff;
      span {
        display: none;
      }
    }
    &_subtitle {
      margin-top: 7px;
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: -0.4000000059604645px;
      text-align: center;
      color: #fff;
      &::after {
        content: "";
        display: block;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        width: 100%;
        margin-top: 24px;
        margin-bottom: 32px;
      }
    }
    &_plan {
      font-size: 60px;
      font-weight: 600;
      line-height: 71px;
      letter-spacing: -0.04em;
      color: #fff;
      margin-bottom: 4px;
    }
    ul {
      list-style: none;
      margin-bottom: 48px;
      li {
        font-size: 22px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: -0.04em;
        color: #fff;
        margin-top: 12px;
        position: relative;
        padding-left: 34px;
        &::before {
          content: url(../icons/chevronCheck.svg);
          width: 24px;
          display: block;
          position: absolute;
          left: 0;
          top: 60%;
          transform: translateY(-50%);
        }
      }
    }
    &_two {
      background: #e4e4e4;
      border-radius: 12px;
      margin-top: 40px;
    }
    &_inside {
      background: #ffffff;
      box-shadow: 0px 74px 44px -15.0688px rgba(0, 0, 0, 0.12);
      border-radius: 8px;
      transform: rotate(2.69deg);
      padding: 36px 36px 40px;
      .plans__item_title {
        color: #000 !important;
        font-weight: 800;
      }
      .plans__item_subtitle {
        color: #000;
        &::after {
          border-top: 1px solid #ebebeb;
        }
      }
      .plans__item_plan {
        color: #000;
        font-weight: 800;
      }
      ul {
        list-style: none;
        margin-bottom: 48px;
        li {
          color: #000;
          font-size: 22px;
          font-weight: 600;
          line-height: 34px;
          letter-spacing: -0.04em;
          margin-top: 12px;
          padding-left: 34px;
          position: relative;
          &::before {
            content: url(../icons/chevronCheckGreen.svg);
            width: 24px;
            display: block;
            position: absolute;
            left: 0;
            top: 60%;
            transform: translateY(-50%) rotate(2.69deg);
          }
        }
      }
    }
    &_three {
      background: #000000;
      .plans__item_subtitle::after {
        border-top: 1px solid #ebebeb;
      }
      .plans__item_plan {
        font-weight: 600;
        font-size: 60px;
        line-height: 71px;
        letter-spacing: -0.04em;
        span {
          font-size: 32px;
          font-weight: 600;
          line-height: 32px;
          letter-spacing: -0.04em;
        }
      }
      ul li:before {
        content: url(../icons/chevronCheckGreen.svg);
      }
    }
  }
}
