.properties {
  padding-top: 548px;
  padding-bottom: 40px;
  background: #fff;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px!important;
    padding-right: 10px!important;
    margin-bottom: 40px;
    &_icon {
      background: #0a5dff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      border-radius: 12px;
      margin: 0 auto;
    }
    &:nth-of-type(2) .properties__item_icon {
      background: #ffa800;
    }
    &:nth-of-type(3) .properties__item_icon {
      background: #20c933;
    }
    &:last-of-type .properties__item_icon {
      background: #ff6e6e;
    }
    &_title {
      margin: 0;
      margin-top: 24px;
      font-size: 28px;
      font-weight: 600;
      line-height: 34px;
      letter-spacing: -1.399999976158142px;
      text-align: center;
      //   height: 21%;
    }
    &_descr {
      margin: 0;
      margin-top: 12px;
      font-size: 18px;
      font-weight: 400;
      line-height: 29px;
      letter-spacing: -0.4000000059604645px;
      text-align: center;
    }
  }
}
